.WorkClass {
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.4); }

.WorkProgress {
  margin-top: 150px;
  margin-bottom: 150px;
  background-color: rgba(255, 0, 0, 0.6); }

* {
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

section {
  width: 100%;
  padding: 30px;
  text-align: center; }

.navbar {
  margin-bottom: -50px;
  z-index: 100; }
  .navbar .navbar-brand {
    padding: 8px 15px; }

.jumbotronHeader {
  width: 100%;
  height: 100vh;
  z-index: 5;
  background: url(http://www.foodnavigator.com/var/plain_site/storage/images/publications/food-beverage-nutrition/foodnavigator.com/market-trends/the-ultimate-taste-test-insect-burger-plant-burger-or-meat-burger/11065919-1-eng-GB/The-ultimate-taste-test-Insect-burger-plant-burger-or-meat-burger.jpg);
  background-position: center;
  background-attachment: fixed;
  filter: saturate(150%);
  background-size: cover;
  position: relative;
  text-align: center; }
  .jumbotronHeader .description {
    width: 100vw;
    position: absolute;
    top: 7vh;
    transform: translateY(-7%);
    text-align: center;
    margin-left: -20px;
    background-color: rgba(0, 0, 0, 0.6); }
  .jumbotronHeader h1 {
    color: #1a913e;
    text-shadow: 1px 0px 3px black; }
  .jumbotronHeader p {
    color: lightgrey; }

.containerArg {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey; }
  .containerArg .itemArg {
    padding: 50px;
    margin: auto; }
  .containerArg .logoArg {
    color: #1a913e; }

.containerBurgers {
  width: 100%;
  min-height: 90vh;
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.itemBuger {
  min-width: 450px;
  min-height: 300px;
  background: url(../images/Burger_slider_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  border: 2px solid black;
  margin: 5px;
  z-index: 10;
  overflow: hidden;
  transition: 500ms ease-in-out 0s; }
  .itemBuger:active, .itemBuger:hover {
    background: linear-gradient(0deg, rgba(26, 145, 62, 0.4), rgba(26, 145, 62, 0.1)), url(../images/Burger_slider_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: border-box;
    filter: saturate(200%); }
    .itemBuger:active .headBurger, .itemBuger:hover .headBurger {
      top: 95%;
      transform: translateY(-95%); }
    .itemBuger:active .infoBurgers, .itemBuger:hover .infoBurgers {
      bottom: 15%;
      transform: translateY(-15%); }
  .itemBuger .headBurger {
    width: 100%;
    height: auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 5%;
    transform: translateY(-5%);
    transition: 500ms ease-in-out 0s; }
    .itemBuger .headBurger .nameBurger {
      width: 250px;
      height: 50px;
      background-color: rgba(26, 145, 62, 0.8);
      color: white;
      font-family: sans-serif;
      border-radius: 15px;
      font-size: 1.5em;
      padding-top: 10px;
      margin-top: 5px; }
    .itemBuger .headBurger .tagBurger {
      min-width: 60px;
      height: 60px;
      background-color: rgba(26, 145, 62, 0.8);
      color: white;
      font-family: sans-serif;
      border-radius: 100px;
      padding-top: 17px; }
  .itemBuger .infoBurgers {
    width: 100%;
    min-height: 250px;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    bottom: 70%;
    transform: translateY(-70%);
    color: lightgrey;
    font-size: 1.3em;
    text-align: left;
    padding: 15px;
    z-index: 5;
    transition: 500ms ease-in-out 0s; }

.jumbotronConcept {
  width: 100vw;
  margin-left: -20px;
  margin-top: 50px;
  padding-top: 150px;
  background: linear-gradient(10deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url(../images/Burger_slider_2.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: lightgrey; }
  .jumbotronConcept h1 {
    color: #1a913e; }

.conceptDescription {
  height: 30; }

.jumbotronEcologie {
  text-align: right; }

.containerMaps {
  width: 90%;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: auto; }

#map-canvas-left {
  height: 550px;
  width: 60vw; }

#iw_container .iw_title {
  font-size: 16px;
  font-weight: bold; }

.iw_content {
  padding: 15px 15px 15px 0; }

#map-canvas-left {
  height: 450px;
  width: 70vw; }

#iw_containerMaps .iw_title {
  font-size: 16px;
  font-weight: bold; }

.iw_content {
  padding: 15px 15px 15px 0; }

.Well-endPage {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.8);
  margin-bottom: -50px;
  padding: 25px 10px; }
  .Well-endPage .mainFooter {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
  .Well-endPage .Contact {
    width: 100vw;
    min-height: 75vh;
    margin-left: -15px;
    margin-top: -25px;
    padding-top: 50px;
    background: linear-gradient(160deg, rgba(0, 100, 0, 0.6), rgba(255, 255, 0, 0.3)), url(http://www.foodnavigator.com/var/plain_site/storage/images/publications/food-beverage-nutrition/foodnavigator.com/market-trends/the-ultimate-taste-test-insect-burger-plant-burger-or-meat-burger/11065919-1-eng-GB/The-ultimate-taste-test-Insect-burger-plant-burger-or-meat-burger.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover; }
  .Well-endPage .Signature {
    width: 100%;
    bottom: 0px;
    text-align: center;
    margin-top: 25px;
    color: #1a913e; }
  .Well-endPage .navFooter {
    list-style-type: none;
    width: 100px;
    margin: auto;
    text-align: center;
    color: grey; }

/*# sourceMappingURL=style.css.map */
