@import url('https://fonts.googleapis.com/css?family=Hind:500|Open+Sans');

// Work css
$WorkColor: red;
$color1: goldenrod;
$colorGrey: rgba(black, 0.8);

.WorkClass {
  border: 1px solid $WorkColor;
  background-color: rgba($WorkColor, 0.4);
}

.WorkProgress {
  margin-top: 150px;
  margin-bottom: 150px;
  background-color: rgba($WorkColor, 0.6);
}
// end work css

// CSS general ( no selectors or id's )
* { box-sizing: border-box; }

body {
  overflow-x: hidden;
}

section {
  width: 100%;
  padding: 30px;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5
{
  font-family: 'Hind', sans-serif;
  color: $color1;
  text-shadow: 0 0 1px black;
}

li,
p
{
  font-family: 'Open sans', sans-serif;
}


//-------------------------------------------------------------------------------------------------------------------------


// Menu Navigation Responsive
.navbar  {
  margin-bottom: -50px;
  z-index: 100;
  height: 60px;
  padding-top: 4px;
  border-bottom: 1px solid grey;
  .navbar-brand {
    padding: 0 15px;
  }
}


// Jumbotron header Home page
.jumbotronHeader {
  width: 100%;
  height: 100vh;
  background: url(../images/BurgerHeader.jpg);
  filter: contrast(110%);
  border: 1px solid black;
  padding: 1px;
  background-color: black;
  background-position: bottom right;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  z-index: 10;
  margin-bottom: -2px;
  overflow-y: hidden;
  .description {
    width: 100vw;
    height: 60vh;
    margin-left: -35%;
    margin-top: 43px;
    color: rgba(255,255,255,1);
    text-align: center;
    -webkit-transform: skewX(-12deg);
    transform: skewX(-12deg);
    background-color: rgba(goldenrod, 0.7);
    z-index: 5;
  }
  .accrocheHeader {
    margin: auto;
    padding-left: 30%;
    position: relative;
    top: 55%;
    transform: translatey(-55%);
  }
  h2 {
    color: white;
    font-size: 3em;
  }
  p {
    color: white;
  }

}

// Arguments bar
.containerArg {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  .itemArg {
    padding: 50px;
    margin: auto;
  }
  .logoArg {
    color: $color1;
  }
}

// Page BURGERS
.containerBurgers {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 100px;
}

.itemBuger {
  min-width: 450px;
  min-height: 300px;
  background: url(../images/Burger_slider_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  border: 2px solid black;
  z-index: 10;
  overflow: hidden;
  transition: 500ms ease-in-out 0s;
  &:active, &:hover {
    background: linear-gradient(0deg, rgba($color1, 0.4), rgba($color1, 0.1)), url(../images/Burger_slider_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: border-box;
    filter: saturate(200%);
    .headBurger {
      top: 95%; // 95%
      transform: translateY(-95%);
    }
    .infoBurgers {
      bottom: 15%; // 95%
      transform: translateY(-15%);
    }
  }
  .headBurger {
    width: 100%;
    height: auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 5%;
    transform: translateY(-5%);
    transition: 500ms ease-in-out 0s;
    // Je vais définir une position bottom, comme ça lors du HOVER le headBurger se déplacera au top..
    .nameBurger {
      width: 200px;
      height: 50px;
      background-color: rgba(lightgrey, 0.9);
      color: black;
      font-family: sans-serif;
      border-radius: 15px;
      font-size: 1.5em;
      padding-top: 10px;
      margin-top: 5px;
      border: 1px solid grey;
    }
    .tagBurger {
      min-width: 50px;
      height: 50px;
      background-color: rgba($color1, 0.8);
      color: black;
      font-family: sans-serif;
      border-radius: 100px;
      padding-top: 12px;
    }
  }
  .infoBurgers {
    width: 100%;
    min-height: 250px;
    background-color: rgba(black, 0.7);
    position: relative;
    bottom: 70%;
    transform: translateY(-70%);
    color: lightgrey;
    font-size: 1.3em;
    text-align: left;
    padding: 15px;
    z-index: 5;
    transition: 500ms ease-in-out 0s;
  }
}

// FAQ
.containerFAQ  {
  height: 60vh;
  padding-top: 60px;
  h1 {
    text-align: justify;
    color: $color1;
    text-shadow: 1px 1px 1px black;
  }
  p {
    text-align: justify;
    font-size: 1.5em;
    padding-bottom: 15px;
  }
}



// Page Concept
.jumbotronConcept {
  width: 100vw;
  margin-left: -20px;
  margin-top: 50px;
  padding-top: 150px;
  background: linear-gradient(10deg, rgba($colorGrey, 0.9), rgba(black, 0.6)), url(../images/Burger_slider_2.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: lightgrey;
  h1 {
    color: $color1;
  }
}

.conceptDescription {
  height: 30vh;
  margin: 50px 0;
}

.jumbotronEcologie {
  text-align: right;
}



// Page Restos
.containerMaps {
  width: 110vw;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-left: -70px;
}

  // Maps
  #map-canvas-left {
    margin: auto;
    height: 90vh;
    width: 100%;
    border-radius: 10px;
  }

  #iw_container .iw_title {
    font-size: 16px;
    font-weight: bold;
  }

  .iw_content {
    padding: 15px 15px 15px 0;
  }


// Footer ( for all pages of website )
.Well-endPage {
  width: 100%;
  height: 25vh;
  margin-bottom: -50px;
  padding: 25px 10px;

  .mainFooter {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: $colorGrey;
    margin-left: -20px;
  }
  .Contact {
    width: 100vw;
    min-height: 70vh;
    margin-left: -15px;
    margin-top: -25px;
    padding-top: 50px;
    background: linear-gradient(160deg, rgba(darkgreen, 0.6), rgba(black, 0.8)), url(https://goo.gl/RLQ9fk);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }
  .Signature {
    width: 100%;
    bottom: 0;
    text-align: center;
    margin-top: 10px;
    color: $color1;
  }
  .navFooter {
    list-style-type: none;
    width: 200px;
    margin: auto;
    text-align: center;
    color: white;
    background-color: rgba(grey, 0.8);
    padding: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
}