.containerTeam {
    padding-top: 50px;
}

.containerTeam .thumbnail {
    border:1px solid goldenrod;
}

.containerTeam i {
    margin-top: 5px;
    line-height: 20px;
}

.containerTeam p {
    text-align: center;
}

.containerTeam img {
    padding-top: 10px;
}

.Jobs {
    color: grey;
    font-weight: bold;
}

